<section class="navbare" id="navbare">
    <div class="top">
        <ion-icon name="settings-outline"></ion-icon>
        <h1>Planificateur <%=user.type%></h1>
    </div>
    <div class="buttons">
        <div class="actions">
            <a href="/planification/">
                <div class="action one">
                <ion-icon name="add-circle-outline"></ion-icon>
                <p>Planifier un examen</p>
            </div>
            </a>
            <a href="/planifier/update/">
                <div class="action one">
                <ion-icon name="create-outline"></ion-icon>
                <p>Modifier un examen</p>
            </div>
            </a>
            <a href="/surveillance/">
                <div class="action one">
                    <ion-icon name="add-circle-outline"></ion-icon>
                    <p>Affecter surveillance</p>
                </div>
            </a>
            <a href="/surveillance/consulter">
                <div class="action">
                    <ion-icon name="eye-outline"></ion-icon>
                    <p>Consulter les surveillances</p>
                </div>
            </a>
            <a href="/planification/consulter/">
                <div class="action">
                    <ion-icon name="eye-outline"></ion-icon>
                    <p>Consulter les emplois</p>
                </div>
            </a> 
        </div>
        <div class="logout">
            <a href="/logout/">
                <div class="action">
                    <ion-icon name="log-out-outline"></ion-icon>
                    <p>Logout</p>
                </div>
            </a>
        </div>
    </div>
</section>