<section class="navbare" id="navbare">
    <div class="top">
        <ion-icon name="settings-outline"></ion-icon>
        <h1>Planification des examens</h1>
    </div>
    <div class="buttons">
        <div class="actions">
            <a href="/planifier/">
                <div class="action one">
                <ion-icon name="add-circle-outline"></ion-icon>
                <p>Planifier un examen</p>
            </div>
            <a href="/">
                <div class="action one">
                <ion-icon name="create-outline"></ion-icon>
                <p>Modifier un examen</p>
            </div>
            </a>
            <a href="/">
                <div class="action one">
                <ion-icon name="add-circle-outline"></ion-icon>
                <p>Affecter surveillance</p>
            </div>
            <a href="/">
                <div class="action one">
                <ion-icon name="create-outline"></ion-icon>
                <p>Modifier surveillance</p>
            </div>
            </a>
            <a href="/consulter/">
                <div class="action">
                    <ion-icon name="eye-outline"></ion-icon>
                    <p>Consulter les emplois</p>
                </div>
            </a> 
        </div>
        <div class="logout">
            <a href="">
                <div class="action">
                    <ion-icon name="log-out-outline"></ion-icon>
                    <p>Logout</p>
                </div>
            </a>
        </div>
    </div>
</section>    