<%- include('./partials/header.ejs') %> 
<body>
    <div class="container">
        <%- include('./partials/navebar.ejs') %> 
        <section class="menu">
            <div class="table" id="table">
                <div class="print" id="print">
                    <div class="title">
                        <div class="info">
                            <h1 class="green">Palier:</h1>
                            <h1>L2</h1>
                        </div>
                        <div class="info">
                            <h1 class="green">Section: </h1>
                            <h1>ACAB_B</h1>
                        </div>
                    </div>
                    <div class="thead top">
                        <div class="box-table one">
                            <h2>Date</h2>
                        </div>
                        <div class="box-table">
                            <h2>Créneau</h2>
                        </div>
                        <div class="box-table">
                            <h2>Module</h2>
                        </div>
                        <div class="box-table">
                            <h2>Local</h2>
                        </div>
                    </div>
                    <div class="thead two">
                        <div class="box-table one">
                            <h2>2022-15-02</h2>
                        </div>
                        <div class="box-table">
                            <h2>10:15</h2>
                        </div>
                        <div class="box-table">
                            <h2>ALGO</h2>
                        </div>
                        <div class="box-table">
                            <h2>313+151+120</h2>
                        </div>
                    </div>
                    <div class="thead two">
                        <div class="box-table one">
                            <h2>2022-15-02</h2>
                        </div>
                        <div class="box-table">
                            <h2>10:15</h2>
                        </div>
                        <div class="box-table">
                            <h2>ALGO</h2>
                        </div>
                        <div class="box-table">
                            <h2>313</h2>
                        </div>
                    </div>
                    <div class="thead two">
                        <div class="box-table one">
                            <h2>2022-15-02</h2>
                        </div>
                        <div class="box-table">
                            <h2>10:15</h2>
                        </div>
                        <div class="box-table">
                            <h2>ALGO</h2>
                        </div>
                        <div class="box-table">
                            <h2>313</h2>
                        </div>
                    </div>
                    <div class="thead two">
                        <div class="box-table one">
                            <h2>2022-15-02</h2>
                        </div>
                        <div class="box-table">
                            <h2>10:15</h2>
                        </div>
                        <div class="box-table">
                            <h2>ALGO</h2>
                        </div>
                        <div class="box-table">
                            <h2>313</h2>
                        </div>
                    </div>
                    <div class="thead two">
                        <div class="box-table one">
                            <h2>2022-15-02</h2>
                        </div>
                        <div class="box-table">
                            <h2>10:15</h2>
                        </div>
                        <div class="box-table">
                            <h2>ALGO</h2>
                        </div>
                        <div class="box-table">
                            <h2>313</h2>
                        </div>
                    </div>
                    <div class="thead two">
                        <div class="box-table one">
                            <h2>2022-15-02</h2>
                        </div>
                        <div class="box-table">
                            <h2>10:15</h2>
                        </div>
                        <div class="box-table">
                            <h2>ALGO</h2>
                        </div>
                        <div class="box-table">
                            <h2>313</h2>
                        </div>
                    </div>
                    <div class="thead two">
                        <div class="box-table one">
                            <h2>2022-15-02</h2>
                        </div>
                        <div class="box-table">
                            <h2>10:15</h2>
                        </div>
                        <div class="box-table">
                            <h2>ALGO</h2>
                        </div>
                        <div class="box-table">
                            <h2>313</h2>
                        </div>
                    </div>
                    <div class="thead two">
                        <div class="box-table one">
                            <h2>2022-15-02</h2>
                        </div>
                        <div class="box-table">
                            <h2>10:15</h2>
                        </div>
                        <div class="box-table">
                            <h2>ALGO</h2>
                        </div>
                        <div class="box-table">
                            <h2>313</h2>
                        </div>
                    </div>
                </div>
                <div class="generate">
                    <button onclick="generatePDF()" id="buttongenerer">Générer</button>
                </div>
        </section>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
    </style>
</body>
</html>