<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Les modules</title>
</head>
<body>
    
   <% 
     for (let index in modules) {%>
      
        <li> <a href="{/home/1/<%section.code_section%>/<%modules[index].code_module%>"> <%= modules[index].code_module %></a></li>

     <%}

    %> 

</body>
</html>