<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/login.css">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <div class="login">   
            <div class="loginHead">
                <p>Se connecter</p>
            </div>
            <div class="loginbody">
                <form action="" method="post">
                    <div class="loginclass">
                        <input type="email" placeholder="exemple@gmail.com" name="email">
                    </div>
                    <div class="loginclass">
                        <input type="password" placeholder="**********" name="password">
                    </div>
                    <div class="loginbutt">
                        <button>Connecter</button>
                    </div>

                    <div class="error">
                        <% if (messages.error) { %>
                            <%= messages.error %>
                          <% } %>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
    </style>
</body>
</html>