<section class="navbare" id="navbare">
    <div class="top">
        <ion-icon name="settings-outline"></ion-icon>
        <h1>Gestion des enseignants</h1>
    </div>
    <div class="buttons">
        <div class="actions">
           
            <a href="/consulter/">
                <div class="action">
                    <ion-icon name="eye-outline"></ion-icon>
                    <p>Genérer PV</p>
                </div>
            </a>
            <a href="/enseignants/generer-convocations/">
                <div class="action">
                    <ion-icon name="eye-outline"></ion-icon>
                    <p>Genérer convocation</p>
                </div>
            </a> 
        </div>
        <div class="logout">
            <a href="/logout/">
                <div class="action">
                    <ion-icon name="log-out-outline"></ion-icon>
                    <p>Logout</p>
                </div>
            </a>
        </div>
    </div>
</section>