<section class="navbare" id="navbare">
    <div class="top">
        <ion-icon name="settings-outline"></ion-icon>
        <h1>Planification des examens</h1>
    </div>
    <div class="buttons">
        <div class="actions">

            <a href="/enseignants/">
                <div class="action">
                    <ion-icon name="eye-outline"></ion-icon>
                    <p>La liste des enseignants</p>
                </div>
            </a> 
            
            <a href="/ajouter-utilisateur/">
                <div class="action">
                    <ion-icon name="eye-outline"></ion-icon>
                    <p>Ajouter un utilisateur</p>
                </div>
            </a>   
        </div>
        <div class="logout">
            <a href="/logout/">
                <div class="action">
                    <ion-icon name="log-out-outline"></ion-icon>
                    <p>Logout</p>
                </div>
            </a>
        </div>
    </div>
</section>