<section class="navbare" id="navbare">
    <div class="top">
        <ion-icon name="settings-outline"></ion-icon>
        <h1>Vice doyen</h1>
    </div>
    <div class="buttons">
        <div class="actions">
            <a href="/upload-file/">
                <div class="action one">
                <ion-icon name="add-circle-outline"></ion-icon>
                <p>Importer le fichier de répartition</p>
            </div>
            </a>
            <a href="/consulter/">
                <div class="action">
                    <ion-icon name="eye-outline"></ion-icon>
                    <p>Consulter les emplois</p>
                </div>
            </a>
            <a href="/consulter-surveillance/">
                <div class="action">
                    <ion-icon name="eye-outline"></ion-icon>
                    <p>Consulter les surveillances</p>
                </div>
            </a>
            <a href="/enseignants/">
                <div class="action">
                    <ion-icon name="eye-outline"></ion-icon>
                    <p>La liste des enseignants</p>
                </div>
            </a>    
        </div>
        <div class="logout">
            <a href="/logout/">
                <div class="action">
                    <ion-icon name="log-out-outline"></ion-icon>
                    <p>Logout</p>
                </div>
            </a>
        </div>
    </div>
</section>