body{
    display: flex;
    flex-direction: row;
    font-family: 'Poppins';
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: whitesmoke;
}
.container{
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: row;
    margin-top: -0.5em;
    margin-left: -0.5em;
}
.navbare{
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 20%;
    background-color: #1D6F42;
}
.navbare .buttons{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}
.navbare .buttons .actions{
    display: flex;
    flex-direction: column;
    margin-top: 1em;
}
.navbare .buttons .actions .action,.navbare .buttons .logout .action{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: whitesmoke;
    margin-left: 1em;
    border-radius: 10em;
    height: 7vh;
    width: 80%;
    padding-left: 0.5em;
}
.navbare .buttons .actions .action:hover,.navbare .buttons .logout .action:hover{
    background-color: whitesmoke;
    color: #1D6F42;
    font-weight: 600;
    cursor: pointer;
}
.navbare .buttons .actions .action{
    margin-top: 0.5em;
}
.navbare .buttons .logout .action{
    margin-bottom: 0.5em;
}
.navbare .buttons .actions .action ion-icon,.navbare .buttons .logout .action ion-icon{
    margin-right: 0.5em;
}
.navbare .top{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.navbare .top h1{
    font-size: 18px;
    color: whitesmoke;
}
.navbare .top ion-icon{
    font-size: 22px;
    margin-right: 0.2em;
    color: whitesmoke;
}
.menu{
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: whitesmoke;
    justify-content: center;
    align-items: center;  
}
.menu .box{
    width: 70%;
    height: 95%;
    display: flex;
    flex-direction: column;
    border: 2px solid #1D6F42;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 15px;
}
.menu .box .button{
    display: flex;
    width: 40%;
}
.menu .box .button button{
    background-color: #1D6F42;
    outline: none;
    border: 2px solid #1D6F42;
    color: whitesmoke;
    margin-top: 1em;
    width: 100%;
    height: 5vh;
    border-radius: 10px;
    font-size: 15px;
    text-transform: uppercase;
    cursor: pointer;
}
.menu .box .insidebox{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.menu .box .insidebox p{
    color: #1D6F42;
    font-weight: 600;
}
.menu .box .insidebox .form{
    display: flex;
    width: 100%;
    justify-content: center;
}
.menu .box .insidebox select{
    margin-top: -0.5em;
    border: 2px solid #1D6F42;
    outline: none;
    border-radius: 10px;
    height: 4vh;
    text-align: center;
    width: 40%;
    font-family: 'Poppins';
    font-weight: 600;
}
.menu .box .insidebox select option{
    font-weight: 600;
    background-color: hsl(140 42% 42% / 0.5);
    cursor: pointer;
}
a{
    text-decoration: none;
}

.menu .modules{
    display: flex;
    width: 100%;
    flex-direction: column;
}
.menu .modules h2{
    font-size: 25px;
    width: 100vw;
    display: flex;
    margin-left: 0.2em;
    color: black;
    margin-top: 4.4em;
}
.menu .modules .cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    scrollbar-color: yellow;
    height: 100vh;
    scrollbar-width: thin;
}
.menu .modules .cards .scroll{
    height: 80vh;
    overflow-y: scroll;
}
.menu .modules .cards .scroll::-webkit-scrollbar{
    width: 0.5em;
}
.menu .modules .cards .scroll::-webkit-scrollbar-track{
    background: whitesmoke;
}
.menu .modules .cards .scroll::-webkit-scrollbar-thumb{
    background-color: hsl(140 42% 42% / 0.5);
    border-radius: 20vw;
}
.menu .modules .cards .cardM{
    height: 7vh;
    background-color: #1D6F42;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50vw;
    padding-right: 2em;
    padding-left: 2em;
    margin-bottom: 0.4em;
    margin-right: 0.4em;
}
.menu .modules .cards .cardM ion-icon{
    color: whitesmoke;
    font-size: 18px;
    cursor: pointer;
}
.menu .modules .cards .cardM p{
    color: whitesmoke;
}
a{
    text-decoration: none;
}

.menu .newbos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid #1D6F42;
    width: 40%;
    border-radius: 20px;
    padding-bottom: 1em;
    background-color: white;

}
.menu .newbos .module, .menu .newbos .creneau, .menu .newbos .salle, .menu .newbos .section{
    width: 80%;
}


.menu .newbos h2{
    font-size: 25px;
    font-weight: 500;
}
.menu .newbos .salle .scroll .checkbox{
    display: flex;
    flex-direction: column;
}
.menu .newbos .salle .scroll .checkbox .label{
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu .newbos .salle .scroll .checkbox .label label{
    font-size: 15px;
    font-weight: 500;
}
.menu .newbos .salle .scroll{
    overflow-y: scroll;
    height: 20vh;
    border: 1px solid #1D6F42;
    border-radius: 10px;
}
.menu .newbos #confirm{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: #1D6F42;
    color: whitesmoke;
    height: 5vh;
    width: 80% ;
    border: 1px solid #1D6F42;
    border-radius: 10px;
    margin-top: 1em;
    cursor: pointer;
}
.menu .newbos .salle .scroll::-webkit-scrollbar{
    width: 0.8em;
}
.menu .newbos .salle .scroll::-webkit-scrollbar-track{
    background: whitesmoke;
    border-right: 1px solid #1D6F42;
    border-radius: 10px;

}
.menu .newbos .salle .scroll::-webkit-scrollbar-thumb{
    background-color: hsl(140 42% 42% / 0.5);
    border-radius: 10px;
    border: 1px solid #1D6F42;
}
.menu .newbos .card select{
    width: 20vw;
    color: black;
    border-radius: 5px;
    border: 2px solid #1D6F42;
    display: flex;
    flex-direction: column;
}
.menu .newbos .card select:focus{
    border: 2px solid #1D6F42;
    outline: none;
}
.menu .table{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.menu .table .print {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.menu .table .print .thead{
    display: flex;
    flex-direction: row;
    border: 2px solid #1D6F42;
    justify-content: space-between;
    width: 60%;
    height: 5vh;
}
.menu .table .print .thead.top{
    background-color: #D3D3D3;
}
.menu .table .print .thead.two{
    border-top: 2px solid white;
}
.menu .table .print .thead .box-table.one{
    border-left: 2px solid #D3D3D3 !important;
}
.menu .table .print .thead .box-table{
    border-left: 2px solid #1D6F42;
    text-align: center;
    font-size: 10px;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.menu .table .print .title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
}
.menu .table .print .title .info{
    display: flex;
    flex-direction: row;   
}
.menu .table .print .title .info .green{
    color: #1D6F42;
    margin-right: 0.2em;
}
.menu .table a .generate{
    display: flex;
    width: 100%;
    margin-top: 1em;
    justify-items: center;
}
a{
    text-decoration: none;
}


.menu .table .print .thead .box-table button{
    background-color: #1D6F42;
    height: 4vh;
    width: 100%;
    border-radius: 10px;
    color: whitesmoke;
    font-weight: 600;
    border: 1px solid #1D6F42;
    cursor: pointer;
    font-size: 12px;
    text-align: center;
    font-family: 'Poppins';
}
.menu .table a .generate button{
    background-color: #1D6F42;
    height: 6vh;
    width: 100%;
    border-radius: 10px;
    color: whitesmoke;
    font-weight: 600;
    border: 1px solid #1D6F42;
    cursor: pointer;
    font-size: 15px;
    font-family: 'Poppins';
}
a{
    text-decoration: none;
}
.menu .compte{
    background-color: white;
    display: flex;
    align-items: center;
    height: 75%;
    width: 50%;
    border: 2px solid #1D6F42;
    border-radius: 5px;
    flex-direction: column;
}
.menu .compte .comptehead{
    margin-right: auto;
    font-size: 25px;
    color: #1D6F42;
    font-weight: 600;
    margin-left: 1em;
}
.menu .compte form .compteinfo input{
    border: 2px solid #1D6F42;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
}
.menu .compte form .compteinfo p{
    font-weight: 600;
}
.menu .compte form .compteinfo select{
    border: 2px solid #1D6F42;
    width: 104%;
    padding: 5px;
    border-radius: 5px;
}
.menu .compte form button{
    width: 104%;
    border: 1px solid #1D6F42;
    outline: none;
    background-color: #1D6F42;
    border-radius: 5px;
    padding: 5px;
    font-family: 'Poppins';
    color: white;
    font-weight: 600;
    margin-top: 2em;
}
.menu .gestion{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.menu .gestion .topmenu{
    display: flex;
    height: 5%;
    margin-left: auto;
    margin-top: 1em;
    margin-right: 1em;
}
.menu .gestion .topmenu a{
    outline: none;
    border: 2px solid #1D6F42;
    background-color: white;
    color: #1D6F42;
    font-weight: 600;
    font-size: 13px;
    text-transform: uppercase;
    padding: 4px 7px;
    border-radius: 5px;
    margin-right: 3em;
    cursor: pointer;
    text-decoration: none;
}
.menu .gestion .topmenu .form{
    display: flex;
    align-items: center;
    margin-top: -0.1em;
}
.menu .gestion .topmenu .form form input{
    border: 2px solid #1D6F42;
    padding: 5px;
    font-size: 15px;
    color: #1D6F42;
    font-weight: 500;
    padding-left: 0.5em;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
} 
.menu .gestion .topmenu .form .searchicon button{
    display: flex;
    align-items: center;
    background-color: #1D6F42;
    color: white;
    padding: 5px;
    cursor: pointer;
    margin-left: -0.4em;
    font-size: 17px;
    border: 2px solid #1D6F42;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.menu .gestion .listeEns{
    height: 95%;
    width: 100%;
    margin-top: 1em;
}
.menu .gestion .listeEns .thead{
    height: 10%;
    width: 96%;
    font-weight: 600;
    background-color: #b5cebc;
    margin-left: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 1em;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.menu .gestion .listeEns .thead .prenom{
    margin-left: -1.5em;
}
.menu .gestion .listeEns .thead .nom{
    margin-left: -2.8em;
}

.menu .gestion .listeEns .tbody{
    height: 84%;
    width: 97.5%;
    overflow-y: scroll;
    background-color: #a3c1ad;
    margin-left: 1em;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
.menu .gestion .listeEns .tbody .EnseignantLad{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1em;
    padding-right: 1em;
    color: #4a3143;
    font-weight: 600;
}
.menu .gestion .listeEns .tbody .EnseignantLad button{
    outline: none;
    border: 1px solid #a3c1ad;
    background-color: #a3c1ad;
    font-size: 17px;
    cursor: pointer;
}
.menu .gestion .listeEns .tbody .EnseignantLad p{
    width: 16%;
}
.menu .gestion .listeEns .tbody::-webkit-scrollbar{
    width: 0.8em;
}
.menu .gestion .listeEns .tbody::-webkit-scrollbar-track{
    background: #a3c1ad;
    border-right: 1px solid white;
    border-radius: 10px;
}
.menu .gestion .listeEns .tbody::-webkit-scrollbar-thumb{
    background-color: #2e8b57;
    border-radius: 10px;
    border: 1px solid #1D6F42;
}
.trash{
    color: red;
}
.menu .profilePage{
    display: flex;
    border: 2px solid #1D6F42;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 40%;
    border-radius: 5px;
}
.menu .profilePage form .output{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}
.menu .profilePage form .output input{
    border: 2px solid #1D6F42;
    padding: 5px;
    width: 140%;
    margin-top: -0.8em;
    border-radius: 5px;
}
.menu .profilePage form .output select{
    border: 2px solid #1D6F42;
    width: 150%;
    margin-top: -0.8em;
    padding: 5px;
    border-radius: 5px;
}
.menu .profilePage form button{
    width: 100%;
    margin-top: 1.5em;
    padding: 5px;
    background-color: #1D6F42;
    border: 1px solid #1D6F42;
    outline: none;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Poppins';
    text-transform: uppercase;
}
.delete-dialog{
     position: fixed;
     border: 2px solid black;
     top: 50%;
     left: 50%;
     font-weight: 600;
     transform: translate(-50% , -50%) scale(0);
     z-index: 10;
     background-color: white;
     width: 300px;
     border-radius: 20px;
} 
.delete-dialog.active{
    transform: translate(-10% , -50%) scale(1);
} 
.delete-dialog .dialog-header{
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black  ;
}
.dialog-header .close-button{
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}
.delete-dialog .dialog-body{
    padding: 10px 15px;
}

.delete-dialog .dialog-footer{
    display: flex;
    justify-content: flex-end;
    background-color: rgb(222, 213, 213);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 5px;

}

.dialog-footer button{
   margin: 5px;
   padding: 0.5rem;
   border: none;
   
 
}

.dialog-footer .delete-button{
    background-color: red;
    color: white;
    border-radius: 12px;
}
.dialog-footer .cancel-button{
    background: none;
    color: black;
}
#overlay{

    position: fixed;
    opacity: 0.5;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;

}
#overlay.active {
    opacity: 1;
    pointer-events: all;
 
}
.menu .table .print .thead.two .box-table #test{
    background-color: red;
    border: none;
    width: 80%;

}
.menu .dashbord{
    height: 100%;
    width: 100%;
}
.menu .boxes{
    display: flex;
    height: 20%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.menu .boxes .idbox{
    height: 80%;
    width: 25%;
    border:2px solid #1D6F42;
    border-radius: 10px;
    margin: 1em;
    cursor: pointer;
    display: flex;
    flex-direction: row;
}
.menu .boxes .idbox .boxicon{
    width: 40%;
    display: flex;
}
.menu .boxes .idbox .boxicon ion-icon{
    font-size: 50px;
    color: #163625;
    margin: 0.2em;
}
.menu .boxes .idbox .icontext{
    width: 60%;
}
.menu .boxes .idbox .icontext .number{
    font-size: 24px;
    font-weight: 600;
    color: #1D6F42;
    justify-content: end;
    display: flex;
    margin-right: 1em;
    margin-top: 0.4em;
}
.menu .boxes .idbox .icontext .nameun{
    font-size: 22px;
    font-weight: 600;
    color: #163625;
    margin-left: 1.25em;
    margin-top: -0.8em;
}
.menu .boxes .idbox .icontext .nameun.two{
    margin-left: 2.6em;
}
.menu .boxes .idbox .icontext .nameun.three{
    margin-left: -0.1em;
}
.menu .boxes .idbox .icontext .nameun.four{
    margin-left: -1.3em;
}
.menu .charts{
    display: flex;
    height: 80%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.menu .charts .chart{
    width: 50%;
    height: 90%;
    margin: 1em;
    border-radius: 10px;
}
.show{
    display: flex !important;
}
a{
    text-decoration: none;
}






.delete-dialog-ens{
    position: fixed;
    border: 2px solid black;
    top: 50%;
    left: 50%;
    font-weight: 600;
    transform: translate(-50% , -50%) scale(0);
    z-index: 10;
    background-color: white;
    width: 500px;
    border-radius: 20px;
} 
.delete-dialog-ens.active{
   transform: translate(-10% , -50%) scale(1);
} 
.delete-dialog-ens .dialog-header{
   padding: 10px 15px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-bottom: 1px solid black  ;
}
.dialog-header .close-button{
   cursor: pointer;
   border: none;
   outline: none;
   background: none;
   font-size: 1.25rem;
   font-weight: bold;
}
.delete-dialog-ens .dialog-body{
   padding: 10px 15px;
}

.delete-dialog-ens .dialog-footer{
   display: flex;
   justify-content: flex-end;
   background-color: rgb(222, 213, 213);
   border-bottom-right-radius: 20px;
   border-bottom-left-radius: 20px;
   padding: 5px;

}

.dialog-footer button{
  margin: 5px;
  padding: 0.5rem;
  border: none;
  

}

.dialog-footer .delete-button{
   background-color: red;
   color: white;
   border-radius: 12px;
}
.dialog-footer .cancel-button{
   background: none;
   color: black;
}
.menu .listesurveillance{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
}
.menu .listesurveillance .listeHeader{
    display: flex;
    background-color: #bad8c2;
    width: 80%;
    height: 8%;
    margin-top: 2em;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    align-items: center;
}
.menu .listesurveillance .listeHeader p{
    margin-left: 1em;
    font-weight: 600;
}
.menu .listesurveillance .chargecours p{
    font-weight: 600;
    margin-left: 1em;
    font-size: 14px;
    color:white;
}
.menu .listesurveillance .chargecours{
    display: flex;
    background-color: #389b61;
    width: 80%;
    height: 6%;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.menu .listesurveillance .surveilanttitle{
    display: flex;
    background-color: #bad8c2;
    width: 80%;
    height: 8%;
    margin-top: 2em;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    align-items: center;
}
.menu .listesurveillance .surveilanttitle p{
    font-weight: 600;
    margin-left: 1em;
}
.menu .listesurveillance .listesurveillants{
    display: flex;
    background-color: #389b61;
    height: 65%;
    width: 80%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.menu .listesurveillance .listesurveillants .scroll{
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}
.menu .listesurveillance .listesurveillants .scroll p{
    font-weight: 500;
    color: white;
    margin-left: 1em;
    font-size: 14px;
}
.menu .listesurveillance .listesurveillants .scroll::-webkit-scrollbar{
    width: 0.8em;
}
.menu .listesurveillance .listesurveillants .scroll::-webkit-scrollbar-track{
    background: #389b61;
    border-right: 1px solid white;
    border-radius: 10px;
}
.menu .listesurveillance .listesurveillants .scroll::-webkit-scrollbar-thumb{
    background-color: white;
    border-radius: 10px;
    border: 1px solid #1D6F42;
}

#upload-file{
    display: flex;
    align-items: center;
    background-color: #1D6F42;
    color: white;
    padding: 5px;
    cursor: pointer;
    margin-left: -0.4em;
    font-size: 17px;
    border: 2px solid #1D6F42;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}


.menu .upload form label{
    background-color: #1D6F42;
    color: white;
    font-family: 'Poppins';
    font-weight: 600;
    border: 1px solid #1D6F42;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-right: 3em;
}
.menu .upload form label input[type="file"]{
    display: none;
}
.menu .upload form{
    display: flex;
    align-items: center;
}
.menu .upload form button{
    background-color: #1D6F42;
    color: white;
    font-family: 'Poppins';
    font-weight: 600;
    border: 1px solid #1D6F42;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}